## Initialization

In [1]:
import pandas as pd

In [2]:
# Import Data
df = pd.read_csv('../Raw Data/ConList.csv')

In [3]:
# Quich check of data
df.head()

,Name 6,Name 1,Name 2,Name 3,Name 4,Name 5,Title,Name Non-Latin Script,Non-Latin Script Type,Non-Latin Script Language,...,Country,Other Information,Group Type,Alias Type,Alias Quality,Regime,Listed On,UK Sanctions List Date Designated,Last Updated,Group ID
0,MITHOO,Mian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Pakistan,(UK Sanctions List Ref):GHR0086. (UK Statement...,Individual,Primary name variation,NaN,Global Human Rights,09/12/2022,09/12/2022,09/12/2022,15672
1,MITHU,Mian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Pakistan,(UK Sanctions List Ref):GHR0086. (UK Statement...,Individual,Primary name variation,NaN,Global Human Rights,09/12/2022,09/12/2022,09/12/2022,15672
2,MITTO,Mian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Pakistan,(UK Sanctions List Ref):GHR0086. (UK Statement...,Individual,Primary name variation,NaN,Global Human Rights,09/12/2022,09/12/2022,09/12/2022,15672
3,MITTU,Mian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Pakistan,(UK Sanctions List Ref):GHR0086. (UK Statement...,Individual,Primary name variation,NaN,Global Human Rights,09/12/2022,09/12/2022,09/12/2022,15672
4,ZADACHIN,Andrei,Andreevich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,(UK Sanctions List Ref):RUS1831. Financial san...,Individual,Primary name variation,NaN,Russia,21/04/2023,21/04/2023,21/04/2023,15890

In [4]:
df.shape[0]

18796

## Setting Up Column Lists

In [5]:
# Get list of columns to help with next part
df.columns

Index(['Name 6', 'Name 1', 'Name 2', 'Name 3', 'Name 4', 'Name 5', 'Title',
       'Name Non-Latin Script', 'Non-Latin Script Type',
       'Non-Latin Script Language', 'DOB', 'Town of Birth', 'Country of Birth',
       'Nationality', 'Passport Number', 'Passport Details',
       'National Identification Number', 'National Identification Details',
       'Position', 'Address 1', 'Address 2', 'Address 3', 'Address 4',
       'Address 5', 'Address 6', 'Post/Zip Code', 'Country',
       'Other Information', 'Group Type', 'Alias Type', 'Alias Quality',
       'Regime', 'Listed On', 'UK Sanctions List Date Designated',
       'Last Updated', 'Group ID'],
      dtype='object')

In [6]:
# Defining columns to clean as we don't want to cleanse non-string columns
columns_to_clean = ['Name 6', 'Name 1', 'Name 2', 'Name 3', 'Name 4', 'Name 5', 'Title',
       'Name Non-Latin Script', 'Non-Latin Script Type',
       'Non-Latin Script Language', 'Town of Birth', 'Country of Birth',
       'Nationality', 'Passport Details','National Identification Details',
       'Position', 'Address 1', 'Address 2', 'Address 3', 'Address 4',
       'Address 5', 'Address 6', 'Post/Zip Code', 'Country',
       'Other Information', 'Group Type', 'Alias Type', 'Alias Quality',
       'Regime']

In [7]:
# Defining columns to change date type to match SQL date types
columns_to_convert = ['DOB', 'Listed On', 'UK Sanctions List Date Designated',
       'Last Updated']

## Handling UTF-8 Encoding

In [8]:
# Replacing special characters outside of UTF-8 standards
for column in columns_to_clean:
    #df[column] = df[column].str.replace(r'[^\w\s\n\u2028;,]', '', regex=True)
    df[column] = df[column].str.replace(r'[^A-Za-z0-9\s]+', '', regex=True)
    # Attempted a general filtering to preserve special characters like non-latin languages, but this broke CSV imports later, down to 82 records
    # Instead replacing all non-alphanumeric values
    # Keeping the old regex here though so that it can be used for Python code if required

## Handling SQL Date Types

In [9]:
# Creating a function to handle invalid dates
def convert_dates_to_sql(date_string):
    try:
        return pd.to_datetime(date_string, format='%d/%m/%Y').strftime('%Y-%m-%d')
    except ValueError:
        year = str(date_string).split('/')[-1]
        return f'{year}-01-01' if year.isdigit() else 'NULL'

In [10]:
# Converting values in the date column to match SQL formatting
for column in columns_to_convert:
    df[column] = df[column].apply(convert_dates_to_sql)

## Saving Cleansed File

In [11]:
df.shape[0]

18796

In [12]:
# Saving to cleansed folder
df.to_csv('../Cleansed Data/CleanedConList.csv', index=False, encoding='utf-8')

In [13]:
#df["DOB"].to_string()